.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.elevated-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.full-width {
  width: 100%;
}

.error-message {
  color: red;
  margin-top: 10px;
  text-align: center;
}

.link-group {
  margin-top: 10px;
}

button {
  margin-top: 20px;
}
