.centered-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.centered-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered-form mat-form-field {
  width: 100%;
}

.elevated-form {
  border: 1px solid white;
  border-radius: 15px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
  background-color: #fff;
}
