<button (click)="goBack()" mat-icon-button>
  <mat-icon>arrow_back</mat-icon>
</button>
<div class="centered-form">
  <form (ngSubmit)="resetPassword()" [formGroup]="loginForm" class="elevated-form">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input autofocus formControlName="email" matInput>
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">L'email est requis.</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('email')">L'email doit être valide.</mat-error>
    </mat-form-field>

    <div class="form-actions">
      <button [disabled]="loginForm.invalid" color="primary" mat-raised-button>Envoyer le mail de récupération</button>
    </div>

  </form>
</div>
